<footer class="bg-dark text-light py-4">
  <div class="container text-center">
      <h5>ROOMZY</h5>

      <ul class="list-unstyled d-flex justify-content-center mb-3">
          <li class="mx-3"><a href="#" class="text-light">Home</a></li>
          <li class="mx-3"><a href="#" class="text-light">About</a></li>
          <li class="mx-3"><a href="#" class="text-light">Services</a></li>
          <li class="mx-3"><a href="#" class="text-light">Contact</a></li>
      </ul>

        <div class="social-icons d-flex justify-content-center">
            <a href="#" class="mx-2" data-hover="Facebook"><i class="fab fa-facebook fs-4"></i></a>
            <a href="#" class="mx-2" data-hover="Instagram"><i class="fab fa-instagram fs-4"></i></a>
            <a href="#" class="mx-2" data-hover="LinkedIn"><i class="fab fa-linkedin fs-4"></i></a>
        </div>
  </div>
</footer>